{# templates/admin/security/login.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.password) }}
        <button type="submit">login</button>
    {{ form_end(form) }}
{% endblock %}